.feed-photo {
  align-self: center;
}

.photo-container {
  position: relative;
}

.loading-screen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 194px;
  width: 394px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen > p {
  position: absolute;
  font-size: 14pt;
  text-align: center;
  color: white;
}
