.login-form-container {
	padding: 10px;
	margin: 50px auto;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 3px;
	background-image: url('../../images/garlic.jpg');
	background-size: 360px 360px;
	/* background-color: rgba(0, 0, 0, 0.1); */
}

.form-links {
	text-align: center;
}

.form-header {
	margin-top: 20px;
	text-align: center;
	font-size: 18pt;

}

.login-form-label {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 14pt;
	color: white;
	background-color: rgba(0, 0, 0, 0.5)
}

.login-footer-link {
	text-decoration: underline;
}

.login-button-holder {
	display: flex;
	justify-content: center;
}

.login-field {
	height: 25px;
	background-color: white;
}

.login-field:focus {
	border: none;
	height: 25px;
}

.login-submit {
	margin-top: 20px;
	margin-bottom: 10px;
	border: 2px solid #1C38E9;
	border-radius: 25px;
	width: 75px;
	height: 25px;
	color: white;
	font-weight: 500;
	background-color: #1C38E9;
	text-align: center;
}

.login-submit:focus {
  outline: none;
}

.login-submit:hover {
	transform: translateY(-1px);
}
