.login-form-container {
	padding: 10px;
	margin: 50px auto;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 3px;
}

.login-form-label {
	text-align: center;
	font-size: 14pt;
	font-weight: 600;
}

.login-button-holder {
	display: flex;
	justify-content: center;
}

.login-field {
	height: 20px;
}

.login-submit {
	margin-top: 20px;
	margin-bottom: 15px;
	border: 2px solid black;
	border-radius: 25px;
	width: 75px;
	height: 25px;
	font-weight: 700;
	background-color: #1c9be9;
	text-align: center;
}

.login-submit:focus {
  outline: none;
}

.login-submit:hover {
	background-color: #006dac;
}
