.feed-container {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  /* box-shadow: 2px 0px 2px 2px black; */
  background-color: black;
}

.feed-item {
  max-width: 394px;
  max-height: 194px;
  padding: 3px;
  align-self: center;
  overflow: hidden;
}


