.feed-container {
  max-width: 1220px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  /* border: 3px solid black; */
  /* box-shadow: 2px 0px 2px 2px black; */
  background-color:rgba(0, 0, 0, 0.8);
  padding-bottom: 10px;
  padding-top: 3px;
}

.feed-item {
  max-width: 394px;
  max-height: 194px;
  padding: 5px;
  align-self: center;
  overflow: hidden;
}
