.nav-container {
  background-color: #212124;
  padding: 8px;
  height: 33px;
}

.nav-holder {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: white;
  height: 50px;
}

.active {
  color: #FF5B5B;
}

.nav-list-item {
  list-style-type: none;
  line-height: 33px;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0px auto;
}

.nav-user-icon {
  margin-top: 5px;
}

.profile-dropdown {
  position: absolute;
  top: 55px;
  right: 8px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 5px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-dropdown > li {
  text-align: center;
  list-style-type: none;
  border-bottom: 1px solid black;
  margin: 5px 0px;
  width: 100px;
}
